.png-dialogbox-delete-alert {
    text-align: center;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}

.png-dialogbox-delete-alert .delete-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.png-dialogbox-delete-alert .delete-icon:before {
    visibility: hidden;
}
.png-dialogbox-delete-alert .delete-icon i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d45a5a;
    color: #fff;
    margin-bottom: 5px;
}

.png-dialogbox-delete-alert .delete-icon h5 {
    margin-bottom: 8px;
    font-family: "Poppins-Medium";
    font-size: 20px;
    text-transform: capitalize;
    color: #d45a5a;
}
.png-dialogbox-delete-alert p {
    font-size: 14px !important;
    font-family: "Poppins-Regular";
    color: var(--secondary-clr-text);
}

.png-dialogbox.p-dialog .p-dialog-footer {
    height: 60px !important;
}

.png-dialogbox.p-dialog .footer-buttons,
.png-dialogbox.p-dialog .footer-add-below,
.png-dailogbox-footer {
    bottom: 0;
    position: fixed;
    right: 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    background: #fff;
    padding-right: 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.png-dialogbox.p-dialog .p-dialog-header .p-dialog-title {
    font-family: "Poppins-SemiBold";
    font-size: 18px;
    font-weight: 200;
    color: var(--primary-clr-text);
    letter-spacing: 0.54px;
}

.png-dialogbox.p-dialog {
    background-color: #fff;
}

.png-dialogbox.p-dialog .p-dialog-header {
    border-bottom: 1px solid #e0e5e9;
    padding-bottom: 0.75rem;
    margin: 0 24px;
    padding-left: 0.3rem;
    padding-right: 0.2rem;
    margin-bottom: 10px;
}
.png-dialogbox.p-dialog .p-dialog-header .p-dialog-header-icon {
    color: var(--secondary-clr-text);
    opacity: 0.7;
}

/* new added 30 MAY 2023 */
/* small dialogs which have no header underline */
.png-dialog-no-header-content {
    padding-bottom: 30px;
}
.png-dialog-header-sm-dialogs {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}

.png-dialog-header-sm-dialogs h5 {
    color: var(--primary-clr-text);
    font-size: 16px;
    font-family: "Poppins-SemiBold";
    margin-bottom: 16px;
}

.png-dialog.png-dialog-no-header.p-dialog .p-dialog-content {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.png-dialog-no-header-footer .png-dailogbox-footer {
    justify-content: center;
    width: 100%;
    padding-right: 0;
    min-height: 60px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:focus {
    box-shadow: none !important;
}

.p-dialog .p-dialog-content {
    padding-bottom: 60px !important;
    margin-bottom: 20px;
}

/* added for no header small dialogboxes 
    19 JUNE 2023
*/
.header-icon-box {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}
.header-icon-box.success {
    background-color: #53b175;
}
.header-icon-box.info {
    background-color: var(--primaryclr);
}
.header-icon-box.danger {
    background-color: #e12d39;
}
.header-icon-box i {
    font-size: 24px;
    display: flex;
}
/* responsiveness CSS added  */
@media only screen and (max-width: 1199px) {
    .p-dialog .p-dialog-content,
    .p-dialog {
        width: 90vw !important;
    }
}
@media only screen and (max-width: 767px) {
    .p-dialog .p-dialog-content .loginBox-rightside {
        padding: 30px 0px !important;
    }
    .p-dialog .p-dialog-content .loginBox-body .row.px-3 {
        padding: 0px !important;
    }
}

/*=============================================
=            p-dialog static added  24 AUG 2023          =
=============================================*/

.png-dialogbox-static .p-dialog .p-dialog-content {
    padding-bottom: unset !important;
    margin-bottom: unset !important;
}
.png-dialogbox-static.hide-header .p-dialog-header {
    display: none !important;
}
.png-dialogbox-static.hide-header .p-dialog .p-dialog-content {
    padding-top: 2.5rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.png-dialogbox-static-sticky {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.icon-container {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.icon-container i {
    font-size: 1.35rem;
}
.icon-container.info {
    background-color: #0397de;
}
.png-dialogbox-static-sticky-title {
    font-size: 16px;
    font-family: "Poppins-SemiBold";
    color: var(--primary-clr-text);
    margin-bottom: 0;
}
.png-dialogbox-static-body {
    min-height: 5rem;
}

.p-dialog {
    max-height: 96% !important;
}

.png-dialogbox-static.view-all-docs .p-dialog-header {
    border-bottom: 1px solid #e0e5e9 !important;
    padding: 1rem 1.5rem !important;
}
