/* customs icons font library added  */
@import url("../../fonts/custom-font-icons-lib/styles.css");

/* all font families import / called here */
@font-face {
    font-family: Roboto-Medium;
    src: url("../../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("../../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("../../fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Poppins-Bold;
    src: url("../../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url("../../fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Poppins-Regular;
    src: url("../../fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins-Medium;
    src: url("../../fonts/Poppins/Poppins-Medium.ttf");
}
