<div class="login-container flex flex-column justify-content-center align-items-center">
  <p-messages></p-messages>
    <div class="login-box shadow-2 p-4 border-round">
      <h2 class="text-center">Login</h2>
  
      <div class="p-fluid">
        <div class="field">
          <label for="email">Email</label>
          <input id="email" type="email" class="png-input-text" pInputText [(ngModel)]="email" />
        </div>
  
        <div class="field mt-3">
          <label for="password">Password</label>
          <p-password
            id="password"
            [(ngModel)]="password"
            [feedback]="false"
          ></p-password>
        </div>
  
        <div class="field mt-3">
          <button
            pButton
            type="submit"
            label="Login"
            class="p-button-rounded p-button-primary w-full"
            (click)="login()"
          ></button>
        </div>
      </div>
      
      <div class="mt-4 text-center">
        <a routerLink="" class="small-link">Forgot Password?</a>
      </div>
    </div>
  </div>
  